.TamPrinciple {
}

.principle-card {
  width: 18rem;
}

.fletter {
  font-size: larger !important;
  font-family: "Lobster Two", cursive !important;
}

.principle {
  border: dashed 1px #ccc;
  border-radius: 5%;
  margin-top: 1rem;
}

.principle-img {
  width: 1rem;
  padding: 1rem;
}

.principle-title {
  font-size: 10rem !important;
}

h4 {
  font-size: 1.4rem !important;
}

img {
  border-radius: 10%;
}

.offcanvas.offcanvas-end {
  width: 90% !important;
}

.paragraph {
  text-align: start !important;
}
