.testimonials-picture {
  border-radius: 50%;
  margin: 1rem;
  width: 12rem !important;
  box-shadow: 5px 10px #dee2e6;
}

.testimonial-text {
  /* font-size: 1.3rem; */
}

.text-container {
  /* margin-left: 5rem;
  margin-right: 5em; */
}

.position {
  font-size: 0.8rem;
}

.name {
  font-size: 0.9rem;
}
