h1,
h2,
.emphasis {
  font-family: "Lobster Two", cursive !important;
}

h3,
h5,
h4,
h6,
.bolded {
  font-family: "Noto Serif Telugu", serif;
  margin-bottom: 0 !important;
}

body,
footer {
  font-family: "Raleway", sans-serif !important;
  font-size: 1.35rem !important;
  background-color: white !important;
  color: black !important;
}

.App {
  margin: 2.5rem;
}

.parent-component > * {
  margin: 1rem;
}

.bolded-inline {
  font-family: "Noto Serif Telugu", serif;
  padding-right: 0.5rem;
}

.bolded-inline-surrounded {
  font-family: "Noto Serif Telugu", serif;
  padding: 0.5rem;
}

.paragraph {
  margin: 0.7rem;
}

.btn {
  /* padding-bottom: 0px !important; */
  margin-bottom: 0px !important;
}

.btn:hover,
.title {
  text-decoration: underline;
}

.embedded-link {
  display: inline-block;
}

.embedded-link:hover {
  text-decoration: underline;
}

.vertically-centered {
  padding: 150px 0;

  text-align: center;
}
